<div class="component-holder ng-binding ng-scope" data-component="crn-enterprise-dynamic-combobox" id="crn-enterprise-dynamic-combobox-809187" name="crn-enterprise-dynamic-combobox-809187"> 
  <div class="form-group"> 
    <label for="combobox4866">Estado</label> 
    <cron-dynamic-select options="" ng-required="false" id="combo-estado" ng-model="vars.estado" class="crn-select form-control" style=""> 
      <cron-options> 
        <cron-header-template>
           &lt;h3&gt;Lista&lt;/h3&gt; 
        </cron-header-template> 
        <cron-template></cron-template> 
        <cron-footer-template></cron-footer-template> 
        <cron-placeholder>
           Selecione um Item... 
        </cron-placeholder> 
        <cron-data-source> 
          <cron-id>
             qec3xixpe0xk 
          </cron-id> 
          <cron-param-values></cron-param-values> 
          <cron-entity-full-name>
             app.entity.Estado 
          </cron-entity-full-name> 
          <cron-schema-fields> 
            <cron-name>
               id 
            </cron-name> 
            <cron-type>
               String 
            </cron-type> 
            <cron-nullable>
               false 
            </cron-nullable> 
            <cron-key>
               true 
            </cron-key> 
          </cron-schema-fields> 
          <cron-schema-fields> 
            <cron-name>
               nome 
            </cron-name> 
            <cron-type>
               String 
            </cron-type> 
            <cron-nullable>
               true 
            </cron-nullable> 
            <cron-key>
               false 
            </cron-key> 
          </cron-schema-fields> 
        </cron-data-source> 
        <cron-filter>
           contains 
        </cron-filter> 
        <cron-data-text-field>
           nome 
        </cron-data-text-field> 
        <cron-data-value-field>
           id 
        </cron-data-value-field> 
        <cron-option-label>
           Selecione um Estado 
        </cron-option-label> 
        <cron-dynamic>
           true 
        </cron-dynamic> 
        <cron-value-primitive>
           false 
        </cron-value-primitive> 
        <cron-cascade-from></cron-cascade-from> 
        <cron-cascade-from-field></cron-cascade-from-field> 
        <cron-value-template></cron-value-template> 
        <cron-drop-down-list>
           true 
        </cron-drop-down-list> 
      </cron-options> 
    </cron-dynamic-select> 
  </div> 
</div> 
<div class="component-holder ng-binding ng-scope" data-component="crn-enterprise-dynamic-combobox" id="crn-enterprise-dynamic-combobox-227181"> 
  <div class="form-group"> 
    <label for="">Município</label> 
    <cron-dynamic-select options="" ng-required="false" id="combo-municipio" ng-model="vars.municipio" class="crn-select form-control" style=""> 
      <cron-options> 
        <cron-header-template>
           &lt;h3&gt;Lista&lt;/h3&gt; 
        </cron-header-template> 
        <cron-template></cron-template> 
        <cron-footer-template></cron-footer-template> 
        <cron-placeholder>
           Selecione um Item... 
        </cron-placeholder> 
        <cron-data-source> 
          <cron-id>
             h7qzj5dj4a46 
          </cron-id> 
          <cron-param-values></cron-param-values> 
          <cron-entity-full-name>
             app.entity.Municipio 
          </cron-entity-full-name> 
          <cron-schema-fields> 
            <cron-name>
               estado 
            </cron-name> 
            <cron-type>
               String 
            </cron-type> 
            <cron-nullable>
               true 
            </cron-nullable> 
            <cron-key>
               false 
            </cron-key> 
          </cron-schema-fields> 
          <cron-schema-fields> 
            <cron-name>
               id 
            </cron-name> 
            <cron-type>
               String 
            </cron-type> 
            <cron-nullable>
               false 
            </cron-nullable> 
            <cron-key>
               true 
            </cron-key> 
          </cron-schema-fields> 
          <cron-schema-fields> 
            <cron-name>
               nome 
            </cron-name> 
            <cron-type>
               String 
            </cron-type> 
            <cron-nullable>
               true 
            </cron-nullable> 
            <cron-key>
               false 
            </cron-key> 
          </cron-schema-fields> 
        </cron-data-source> 
        <cron-filter>
           contains 
        </cron-filter> 
        <cron-data-text-field>
           nome 
        </cron-data-text-field> 
        <cron-data-value-field>
           id 
        </cron-data-value-field> 
        <cron-option-label>
           Selecione um Municipio 
        </cron-option-label> 
        <cron-dynamic>
           true 
        </cron-dynamic> 
        <cron-value-primitive>
           false 
        </cron-value-primitive> 
        <cron-cascade-from>
           combo-estado 
        </cron-cascade-from> 
        <cron-cascade-from-field>
           estado 
        </cron-cascade-from-field> 
        <cron-value-template></cron-value-template> 
        <cron-drop-down-list>
           true 
        </cron-drop-down-list> 
      </cron-options> 
    </cron-dynamic-select> 
  </div> 
</div>