 

<div class="component-holder ng-binding ng-scope" data-component="crn-enterprise-masktext" id="crn-enterprise-masktext-991166" name="crn-enterprise-masktext-991166"><div class="form-group"> 
    <label for="input-date6238" class="">Label</label> 
    <cron-masktext options="" ng-model="vars.model6238" class="form-control" id="input-masktext6238" ng-required="false" style=""> 
      <cron-options> 
      </cron-options> 
    </cron-masktext> 
</div></div><div class="component-holder ng-binding ng-scope" data-component="crn-enterprise-numerictext" id="crn-enterprise-numerictext-967637" name="crn-enterprise-numerictext-967637"><div class="form-group"> 
    <label for="input-date7547" class="">Label</label> 
    <cron-numerictext options="" ng-model="vars.model7547" class="form-control" id="input-numerictext7547" ng-required="false" style=""> 
      <cron-options> 
      </cron-options> 
    </cron-numerictext> 
</div></div>